@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme {

  /* Fonts */
  --font-main: "Outfit", sans-serif;

  /* Colors */
  --color-test: #7899D4;
  --color-divider: #808080;

  /*  */
   
}

@layer components {
  .btn-primary {
    border-radius: 4px;
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        cursor: pointer;
      }
    }
  }
}

:root {
  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(246, 252, 255, 0.925);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




